@model PlatformaDeStiri.Models.Suggestion

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Suggestion</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.suggTitle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.suggTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.suggTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.suggDate)

    <div class="form-group">
        @Html.LabelFor(model => model.suggContent, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.suggContent, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.suggContent, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.UserID)

    @Html.HiddenFor(model => model.EditorID)

    @Html.HiddenFor(model => model.suggState)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

