
<h3 align="center">Afisare stiri</h3>


<!-- Variables declaration -->
@{
    //int prevPage = ViewBag.pageNr - 1;
    //int nextPage = ViewBag.pageNr + 1;
    SelectListItem current_categ = TempData.ContainsKey("chosen_categ")
        ? ViewBag.chosen_categ
        : new SelectListItem { Text = "All categories", Value = null};
    SelectListItem current_sort = TempData.ContainsKey("chosen_sort")
        ? ViewBag.chosen_categ
        : new SelectListItem { Text = "No sorting", Value = null };

}

<!-- Notifications resulted from actions -->
@if (TempData.ContainsKey("message"))
{
    <hr />
    <h5>@TempData["message"]</h5>
    <hr />
}


<!-- Sorting drop downs  -->
<table align="left">
    <tr>
        <td>
            <div class="dropdown">
                <button class="dropbtn">
                    @current_sort.Text
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    @foreach (SelectListItem listItem in ViewBag.sorts)
                    {
                        <a name="categIndex" id="categIndex"
                           onclick="location.href='@Url.Action("SwitchSortOrFilter", "News", 
                                                  new {sortTxt = listItem.Text, sortVal = listItem.Value, 
                                                  categTxt = current_categ.Text, categVal = current_categ.Value})'"
                           >@listItem.Text</a>
                    }
                </div>
            </div>
        </td>
        <td id="table_space"></td>
        <td>
            <div class="dropdown">
                <button class="dropbtn">
                    @current_categ.Text
                    <i class="fa fa-caret-down"></i>
                </button>

                <div class="dropdown-content">
                    @foreach (SelectListItem listItem in ViewBag.categs)
                    {
                        <a name="categIndex" id="categIndex"
                           onclick="location.href='@Url.Action("SwitchSortOrFilter", "News",
                                                  new {sortTxt = current_sort.Text, sortVal = current_sort.Value, 
                                                  categTxt = listItem.Text, categVal = listItem.Value})'"
                           >@listItem.Text</a>
                    }
                </div>

            </div>
        </td>
    </tr>
</table>
<br />
<hr />


<!-- News showing -->
@foreach (PlatformaDeStiri.Models.News elm in ViewBag.news)
{
    @Html.Partial("NewsInfo", elm)
}

<!-- Styles for the page buttons ...-->
@*@if (ViewBag.pageNr.Equals(1))
{
    <style>
        .prevPageStyle {
            visibility: hidden;
        }
    </style>
}
else
{
    <style>
        .prevPageStyle {
            visibility: visible;
        }
    </style>
}

@if (ViewBag.maxPgNr == ViewBag.pageNr)
{
    <style>
        .nextPageStyle {
            visibility: hidden;
        }
    </style>
}
else
{
    <style>
        .nextPageStyle {
            visibility: visible;
        }
    </style>
}*@


<!-- News page switch buttons -->
@*<table align="center">
    <tr>

        <td class="prevPageStyle">
            <button type="submit">
                @Html.ActionLink("<<", "PageSwitch", "News", new { currPage = prevPage }, null)
            </button>
        </td>

        <td>
            <button>   @ViewBag.pageNr   </button>
        </td>

        <td class="nextPageStyle">
            <button>
                @Html.ActionLink(">>", "PageSwitch", "News", new { currPage = nextPage }, null)
            </button>
        </td>

    </tr>
</table>*@


<style>
    #table_space {
        width: 15px
    }

    .dropbtn {
        border: none;
        outline: none;
        color: white;
        padding: 10px 10px;
        font-size: 10px;
        background-color: #808080
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

            .dropdown-content a:hover {
                background-color: #cfcfcf
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>