@model PlatformaDeStiri.Models.Category

@Html.Label("CategoryName", "Denumire categorie: ")
<h4>@Model.Name</h4>
<br />

<list>
    @foreach (PlatformaDeStiri.Models.News elm in @Model.News)
    {
        <li>@elm.Title</li>
    }
</list>
<br />
<hr />

@if (User.IsInRole("Administrator"))
{
<form method="post" action="/Category/Delete/@Model.ID">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <br />
    <button class="btn btn-success" type="submit">Sterge categorie</button>

</form>
}
