@model PlatformaDeStiri.Models.News

<h3>@Model.Title</h3>
<p>Categorie: @Model.Category.Name</p>
<p>@Model.Content</p>

<i class="glyphicon glyphicon-user"></i> <i>articol scris de</i> <strong> @Model.User.UserName </strong>
<table>
    <tr>
     
        <td>
            @Model.Date
        </td>
        <a class="btn btn-success" href="/News/Edit/@Model.ID">Modifica stire </a>
        <br />
        <td>
            <form method="post" action="/News/Delete/@Model.ID">

                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <br />
                <button class="btn btn-success" type="submit">Sterge stire</button>

            </form>
        </td>
    </tr>
</table>
