@model PlatformaDeStiri.Models.News

<a href="/News/Show/@Model.ID">
    <h3>@Model.Title</h3>
</a>
<p>@Model.Content</p>

<table>
    <tr>
        <td colspan="2">
            <p>Categorie: @Model.Category.Name</p>
        </td>
    </tr>

    <tr>
        <td>
            <i class="glyphicon glyphicon-user"></i> 
            <i>stire scrisa de</i> 
            <strong> @Model.User.UserName </strong>
        </td>
        <td>
            @Model.Date
        </td>
        
    </tr>

    <tr>
        @if (User.IsInRole("Administrator") || User.Identity.Name == Model.User.UserName)
        {
        <td>
            <a class="btn btn-success" href="/News/Edit/@Model.ID">Modifica stire </a>
        </td>
        <td>
            <form method="post" action="/News/Delete/@Model.ID">

                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-success" type="submit">Sterge stire</button>

            </form>
        </td>
        }
    </tr>
</table>
